@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-50: #f1f6fd;
  --color-primary-100: #e0ebf9;
  --color-primary-200: #c8dcf5;
  --color-primary-300: #a2c6ee;
  --color-primary-400: #76a6e4;
  --color-primary-500: #5687db;
  --color-primary-600: #416dcf;
  --color-primary-700: #385abd;
  --color-primary-800: #334a9a;
  --color-primary-900: #314684;
  --color-primary-950: #202a4b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, var(--font-poppins);
}



.carousel-swiper .swiper-pagination-bullet {
  background-color: white;
  width: 130px;  
  height: 3px; 
  opacity: 0.3;
  border-radius: 2px;
}

.carousel-swiper .swiper-pagination-bullet-active {
  background-color: #385abd;
  opacity: 1;
  width: 130px;  
  height: 3px;  
  border-radius: 2px;
  transition: width 0.3s ease;
}